<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <content src="index.html" />
    
    <!-- Allow navigation to any web resource -->
    <allow-navigation href="*" />

    <!-- Allow intents to all external links -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- General Preferences -->
    
    </platform>
</widget>
